{% extends 'base.html' %}
    {% block title %}
        {{user.full_name}}
    {% endblock %}
{% endblock %}

{% block content %}

<div class="row">

    {% if user.image_url %}
        <div class="col-sm-3 col-6">
            <img src="{{ user.image_url }}"
                 alt="{{ user.full_name }}"
                 class="img-responsive">
        </div>
    {% endif %}

    <div class="col-sm-5 col-10">
        <h1>{{ user.full_name }}</h1>

        <form>
            <button class="btn btn-primary btn-sm"
                    formation="/users/{{user.id}}/delete"
                    formmethod="POST">Delete
            </button>
        </form>
    </div>
</div>

{% endblock %}